#categories {
}
#categories h3 {
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#categories ul {
  margin: 0;
  padding: 0;
}

#categories ul li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  text-align: left;
  font-size: 1.2em;
}

#categories ul li a {
  color: #C44D58;
}
#categories ul li a:hover {
  text-decoration: none;
  color: #4ECDC4;
}


